

.container {
	width: 1057px;
	margin: 0 auto;
}
.select-yel {
	background-color: #ffff00;
}

/* HEADER */
header {
	height: 100px;
	background-color: #4ea0ff;
	background-image: url("../img/pattern.png");
	background-repeat: repeat-x;
	background-size: 36%;
}

.logo {
	height: 50%;
	margin: 40px 7px 17px 7px ;
}

/* sec."Title" */
h1 {
	font-size: 40px;
	margin-bottom: 0;
}

.subtitle {
	font-size: 20px;
	color: #808080;
	width: 300px;
	margin-bottom: 20px;
}
.subtitle span{
	color: #20a9e5;
}

/* sec."Photo" */
.pht-desc {
	font-size: 13px;
}

/* sec."Description" */
section ul {
	padding-left: 15px;
	line-height: 6px;
}

.list {
	margin:34px 0 36px ;
}